body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}

.header p {
    color: #e5e7eb;
    font-size: 24px;
    margin-left: 100px;
    justify-self: flex-start;
}


.nav-list {
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
}

.nav-list li {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
    padding: 0px;
    list-style: none;
}

.main-content {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 410px;
}

.main-text {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.main-title {
    display: flex;
    align-self: flex-start;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.main-subtext {
    display: flex;
    align-self: flex-start;
    margin-right: 100px;
    color: #e5e7eb;
    font-size: 18px;
}

.signup-one {
    display: flex;
    align-self: flex-start;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    font-size: 20px;
    margin: 5px;
    padding: 5px 20px;
}

#main-image {
    display: flex;
    height: 350px;
    width: auto;
    margin-right: 150px;
}

.additional-content {
    display: flex;
    flex-direction: column;
    height: 400px;
    font-weight: bolder;
    font-size: 28px;
}

.additional-header {
    display: flex;
    justify-content: center;
}

.additional-images-group {
    display: flex;
    justify-content: space-between;
}

.additional-image {
    display: flex;
    height: 250px;
    width: auto;
    border: 5px solid #3882f6;
    
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    height: 250px;
}

.quote-text {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}
.contact-box {
    display: flex;
    align-self: center;
    justify-content: space-around;
    background-color: #3882f6;
    width: 1000px;
    border-radius: 7px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.contact-text-header {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
}

.contact-text-main {
    display: flex;
    color: #e5e7eb;
}

.signup-two {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 7px;
    border-color: #f9faf8;
    font-size: 20px;
    margin: 5px;
    padding: 5px 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

.copyright {
    display: flex;
    color: #f9faf8;
}