body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}

.header p {
    color: #e5e7eb;
    font-size: 24px;
    margin-left: 100px;
    justify-self: flex-start;
}


.nav-list {
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
}

.nav-list li {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
    padding: 0px;
    list-style: none;
}
